<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8e8568">  <td>20/03/25 20:49:39</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTest.StartBrowser()[pri:0, instance:sharecare.login.LoginTest@28f67ac7]">&gt;&gt;StartBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@985922955</td>   <td></td> </tr>
<tr bgcolor="8e8568">  <td>20/03/25 20:50:21</td>   <td>42284</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.testToLogin(java.lang.String, java.lang.String)[pri:0, instance:sharecare.login.LoginTest@28f67ac7]">testToLogin</td> 
  <td>main@985922955</td>   <td></td> </tr>
<tr bgcolor="8e8568">  <td>20/03/25 20:50:56</td>   <td>76991</td> <td>&nbsp;</td><td title="&lt;&lt;LoginTest.CloseBrowser()[pri:0, instance:sharecare.login.LoginTest@28f67ac7]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@985922955</td>   <td></td> </tr>
</table>
